.socials {
    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        justify-content: space-around;
        width: 310px;
        height: 292px;
        background-color: #2d4159;
        border-radius: 12px;
        padding: 32px 24px 24px 24px;
    }

    &__avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    &__avatar-img {
        width: 100%;
        height: auto;
        border-radius: 65px;
    }

    &__about {
        font-family: "Inter-Medium";
        line-height: 20px;
    }

    &__profession {
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 12px;
    }

    &__fio {
        font-size: .9em;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__join-button {
        // стили кнопки присоединиться
    }

    &__arrows {
        display: flex;
        gap: 24px;
    }

    &__arrow {
        width: 56px;
        height: 56px;
        z-index: 999;
        color: white;
        background-color: #2d4159;
        border-radius: 65px;
        border-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;

        &--left {
            // стили левой стрелки
        }

        &--right {
            // стили правой стрелки
        }
    }

    .swiper-button-disabled{
        opacity: .3;
    }
}