.green-button {
    width: 210px;
    position: relative;
    overflow: hidden;
    gap: 8px;
    padding: 16px 28px;
    border-radius: 8px;
    background: #00b066;
    box-shadow: 0px 20px 32px -12px rgba(0, 222, 129, 0.24);
    cursor: pointer;
}