.header {
  width: 100%;
  background-color: #2d4159;
  position: relative;

  &__btn{
    display: none;
  }

  &__menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 10px;

    ul {
      padding: 0;
      display: flex;

      .menu__item {
        padding: 20px 24px 20px 0px;

        .menu__link {
          text-decoration: none;
          color: #92a3bc;
          transition: all 0.3s ease-in-out;
          font-size: 14px;
          position: relative;

          svg {
            width: 12px;
            height: 12px;
            display: inherit;
            margin-left: 8px;
          }
        }

        .menu__link:hover {
          color: #fff;
        }

      }
    }

    .dropdown {
      display: none;

      a {
        color: #92a3bc;
      }
    }
  }

  &__btn-join {
    margin: auto 0;
    width: 180px;
    height: 40px;
    text-decoration: none;
    color: white;
    background-color: #00b066;
    border-radius: 4px;

    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  &__btn-join:hover {
    color: #e2e2e2;
    background-color: #02a561;
  }

  &__item {
    list-style: none;

    &__link {
      text-decoration: none;
      color: #92a3bc;
      transition: all 0.3s ease-in-out;
      font-size: 14px;
    }

    &__link:hover {
      color: #fff;
    }
  }

  @media (max-width: 1080px) {
    &__menu {
      ul {
        .menu__item {
          padding: 20px 8px 20px 0px;

          &:nth-of-type(1n+6) {
            display: none;
          }
        }
      }
    }

    .menu__item.dropdown {
      display: block !important;
    }

    .dropdown {
      display: block;

      .submenu {
        display: none;
        flex-direction: column;
        width: 160px;
        height: auto;
        position: absolute;
        top: 50px;
        background: #2d4159;
        backdrop-filter: blur(20px);
        padding: 8px 0;
        border-radius: 8px;
        border: 1px solid #374e69;

        li {
          padding: 8px;
        }

        a {
          color: #92a3bc;
          text-decoration: none;
          background-color: transparent !important;
          font-family: "Inter-SemiBold";
          font-size: 14px;
          padding: 8px;
          transition: color .3s ease-in-out;

          &:hover {
            color: #fff;
          }
        }
      }

      &:hover {
        .submenu {
          display: flex;
        }
      }

    }

    &__btn-join {
      width: 140px;
      font-size: .8em;
    }
  }

  @media (max-width: 768px) {
    &__btn{
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      padding: 8px;
      border: 1px solid #92a3bc;
      border-radius: 8px;
      cursor: pointer;
    }

    &__menu {
      flex-direction: column;
      padding: 8px 8px 28px 8px;
      display: none;

      ul {
        flex-direction: column;
        text-align: center;

        .menu__item {
          &:nth-of-type(1n+6) {
            display: block;
          }
        }
      }

    }
    .menu__item.dropdown {
      display: none !important;
    }
  }
  
}